code {
  background-color: rgb(246, 248, 250) !important;
  border-radius: 4px;
}

:not(pre) > code {
  padding: 0.05em 0.25em 0.05em 0.25em;
}

.chat-markdown > :first-child {
  margin-top: 0 !important;
}

.chat-markdown > :last-child {
  margin-bottom: 0 !important;
}

.katex-display {
  margin: 0 !important;
  margin-bottom: 0.35em !important;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}
