code {
  margin: 0;
  white-space: break-spaces;
  background-color: rgb(246, 248, 250);
  border-radius: 6px;
}

pre {
  padding: 16px;
  overflow: auto;
  line-height: 1.45;
  background-color: rgb(246, 248, 250);
  border-radius: 6px;
}

pre > code {
  display: inline;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}

.chat-markdown > :last-child {
  margin-bottom: 0 !important;
}

.katex-display {
  margin: 0 !important;
  margin-bottom: 0.35em !important;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}
